<!DOCTYPE html>
<html>
<title>Hall of Fame</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Players</h2>
  <p>Hall of Fame</p>
  <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-quater">
        <div class="w3-card-4 test" style="width:92%;max-width:300px;">
          <img src="img_avatar3.png" alt="Avatar" style="width:100%;opacity:0.85">
          <div class="w3-container">
            <h4><b>John</b></h4>    
            <p>Architect and engineer</p>    
          </div>
        </div>
      </div>
      <div class="w3-quater">
          <div class="w3-card-4 test" style="width:92%;max-width:300px;">
            <img src="img_avatar3.png" alt="Avatar" style="width:100%;opacity:0.85">
            <div class="w3-container">
              <h4><b>John</b></h4>    
              <p>Architect and engineer</p>    
            </div>
          </div>
        </div>
        <div class="w3-quater">
            <div class="w3-card-4 test" style="width:92%;max-width:300px;">
              <img src="img_avatar3.png" alt="Avatar" style="width:100%;opacity:0.85">
              <div class="w3-container">
                <h4><b>John</b></h4>    
                <p>Architect and engineer</p>    
              </div>
            </div>
          </div>
          <div class="w3-quater">
              <div class="w3-card-4 test" style="width:92%;max-width:300px;">
                <img src="img_avatar3.png" alt="Avatar" style="width:100%;opacity:0.85">
                <div class="w3-container">
                  <h4><b>John</b></h4>    
                  <p>Architect and engineer</p>    
                </div>
              </div>
            </div> 

  </div>

</div>

</body>
</html>